@using BlazorBootstrap
@using SISTEMALEGAL.Repositories.Interfaces
@inherits LayoutComponentBase
@inject IDatabaseProvider DatabaseProviderService

<header>
    <div class="container">
        <img src="images/logo-gob.png" class="img-fluid" alt="Gobierno Logo" style="height: 120px;">
    </div>
    <NavMenu/>
</header>
<div class="py-3 px-2">
    @if (IsDev)
    {
        <div class="alert alert-danger mx-5">
            <p>IsDev: @IsDev</p>
            <p>@Connection</p>
        </div>
    }
    @Body
</div>
<Toasts class="p-3" Placement="ToastsPlacement.TopRight" Delay="5000" AutoHide="true" />
@code{
    private bool IsDev { get; set; }
    private string Connection { get; set; } = "";

    protected override void OnInitialized()
    {
        IsDev = DatabaseProviderService.GetEnvironment();
        Connection = DatabaseProviderService.GetConnectionString();
    }
}