@implements IDisposable
@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <img src="images/favicon.png" alt="logo" width="40px"/>
        <a class="navbar-brand" href="/">SISTEMALEGAL</a>

        <!-- Menú de navegación adaptado -->
        <nav class="d-flex justify-content-around  mt-2 mt-md-0 ms-md-auto text-white">
            <NavLink class="nav-link" href="comites">
                <span class="bi bi-list-ul" aria-hidden="true"></span> Comités
            </NavLink>
            <NavLink class="py-2 link-body-emphasis text-decoration-none" href="/Account/Login">
                <i class="bi bi-box-arrow-in-right"></i>Asociaciones
            </NavLink>
            <NavLink class="py-2 link-body-emphasis text-decoration-none" href="/Account/Login">
                <i class="bi bi-box-arrow-in-right"></i>Iniciar Sesion
            </NavLink>
        </nav>
    </div>
</div>


@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}