@using Microsoft.AspNetCore.Components.Web
@using SISTEMALEGAL.Models.DTOs

<div class="mb-3">
    <h5>Miembros del Comité</h5>

    @if (Miembros != null)
    {
        @for (int i = 0; i < Miembros.Count; i++)
        {
            var miembro = Miembros[i];

            <div class="row g-2 mb-2">
                <div class="col-md-4">
                    <InputText @bind-Value="@miembro.Nombre" placeholder="Nombre" class="form-control" />
                </div>
                <div class="col-md-4">
                    <InputText @bind-Value="@miembro.Cedula" placeholder="Cédula" class="form-control" />
                </div>
                <div class="col-md-4">
                    <InputText @bind-Value="@miembro.Cargo" placeholder="Cargo" class="form-control" />
                </div>
            </div>
        }
    }

    <button class="btn btn-outline-primary btn-sm mb-3" type="button" @onclick="AgregarMiembro">+ Agregar Miembro</button>
</div>

@code {
    [Parameter]
    public List<MiembroDto> Miembros { get; set; } = new();

    private void AgregarMiembro()
    {
        if (Miembros.Count < 7)
        {
            Miembros.Add(new MiembroDto());
        }
    }
}