@using Microsoft.AspNetCore.Components.Web
@using SISTEMALEGAL.Models.DTOs

<div class="mb-3">
    <h5>Junta Interventora</h5>

    @if (JuntaInterventoras != null && JuntaInterventoras.Any())
    {
        foreach (var junta in JuntaInterventoras)
        {
            <div class="row g-2 mb-2" key="@junta">
                <div class="col-md-6">
                    <InputText @bind-Value="junta.Nombre" placeholder="Nombre" class="form-control" />
                </div>
                <div class="col-md-6">
                    <InputText @bind-Value="junta.Cedula" placeholder="Cédula" class="form-control" />
                </div>
            </div>
        }
    }

    <button class="btn btn-outline-warning btn-sm mb-3" type="button" @onclick="AgregarJunta">+ Agregar Interventor</button>
</div>

@code {
    [Parameter]
    public List<JuntaInterventoraDto> JuntaInterventoras { get; set; } = new();

    private void AgregarJunta()
    {
        if (JuntaInterventoras.Count < 2) // Máximo 2 interventores
        {
            JuntaInterventoras.Add(new JuntaInterventoraDto());
        }
    }
}